@font-face
{
    font-family: AvenirNext;
    src:url('avenir_next.ttf');
}

@font-face
{
    font-family: AvenirCondensed;
    src:url('avenir_next_condensed.ttf');
}

@font-face
{
    font-family: Arvo;
    src:url('Arvo-Regular.ttf');
}

@font-face
{
    font-family: opensans;
    src:url('opensansb.ttf');
    font-weight: normal;
    font-style: normal;
}

img{
    height: 6em;
}

#header{
    width:5%;
}

#container
{
    background-color: rgb(255, 255, 255);
    min-width: 155em;
    height: 100%;
    overflow: auto;
    position: relative;
}

#periodic{
    margin-left: 1em;
    margin-bottom: 1em;
}

#title{
    font-family: AvenirNext;
    text-align: center;
    font-size:3em;
    margin-right: 4em;
    margin-left: 4.5em;
}

#dropdown{
    padding-bottom: 2em;
}

p{
    display: inline;
    width: 8em;
}

body,html
{
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

.element{
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    height: 8em;
    width: 8em;
    float: left;
    z-index: 1;
}

.breakname{
    width:inherit;
    padding-top:0.1em;
    float:none;
    font-size: 1.5em;
    font-family: AvenirCondensed;
    text-align: center;
}

.breakrange{
    float:none;
    font-size: 2.5em;
    font-family: AvenirCondensed;
    text-align:center;
    vertical-align: middle;
}

.anumber{
    font-family:Arvo;
    top: 0.1em;
    position:relative;
    vertical-align:super;
    font-size:1.7em;
    float:left;
    padding-left:0.2em;
}

.symbol{
    max-height: 8em;
    width: inherit;
    display: inline-block;
    font-family: AvenirCondensed;
    font-size: 4.5em;
    float: none;
    text-align: center;
}

.amass{
    font-family:AvenirCondensed;
    top: 0.1em;
    position:relative;
    vertical-align:super;
    font-size:1.7em;
    float:right;
    padding-right:0.2em;
}

.empty{
    position: relative;
    height: 8em;
    width: 8em;
    float:left;
    border: 1px solid transparent;
    border-radius: 3px;
    z-index: 1;
}

#infocell{
    display: none;
    position: absolute;
    border-radius: 5px;
    z-index: 2;
    width: 81em;
    height: 24em;
    border: 2px solid black;
    left: 18em;
    padding: 0.5em 1em 0.5em 1em;
    top: 2px;
}

.name{
    font-family: opensans;
    font-size: 3em;
    text-align: center;
}

#symbol{
    font-family: AvenirNext;
    font-size: 9em;
    text-align: center;
}

.right{
    text-align: right;
    font-family: AvenirCondensed;
    font-size: 3.1em;
}

.ienergy{
    font-family: AvenirCondensed;
    font-size: 2.9em;
}

.legend{
    position: absolute;
    z-index: 3;
    bottom: 24.5em;
    left: 50em;
}

.label{
    font-size: 4em;
    font-family: Arvo;
    vertical-align: top;
}

#legend{
    display:none;
}

#copyright{
    float:right;
    font-size: 2em;
    font-family: Arvo;
    margin-right: 3em;
}